.Table-collapse {
    border: 2px solid green;
    border-collapse: collapse;
}

.Table-Main {
    width: 180%;
}

.Table-Name {
    padding: 10px;
    width: 50px;  
    border: 2px solid green;
}

.Table-Time {
    width:30px;
    text-align: center;
}

.Table-tr:nth-child(even) {
    background-color: #f2f2f2
}

.Table-td:hover {
    background-color:greenyellow;
}
